# ヒューリスティック探索

このレポジトリは教科書「ヒューリスティック探索」の付属コードおよび練習問題の解答を載せてあります。
ソースコードはPython 3で書かれており、src/以下に配置されています。
練習問題の内容はanswers/questions.texに記載されています。

## ルール

コメントやドキュメントは日本語で書いてください。
ただし、プログラマ（私）とのインターフェースは日本語でも英語でも問題ありません。
jupyter notebook (.ipynb) を直接編集しないでください。

## タスク

あなたのタスクはanswers/questions.texに記載されている練習問題の解答を書くことです。
解答はソースコードを書く場合と、文章を書く場合があります。
ソースコードを書く場合はsrc/以下に配置してください。
コードを書く際は、既存のコードの書き方を参考にしてください。
文章を書く場合はanswers/以下にchapterX.mdの形式で配置してください。

分からない点があれば実行する前に質問してください。